* {
    padding: 0;
}

@keyframes animBanner {
    0% {
        background-color: red;
        color: green;
        border-radius: 0px;
    }
    50% {
        color: blue;
        background-color: #88304E;
        border-radius: 100px;
    }
    100% {
        color: white;
        background-color: #522546;
        border-radius: 0px;
    }
}

.spanAnim {
    animation: animBanner;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    font-size: 1.4em;
    padding: 2%;
}

h1,
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1.5px;
}

body {
    /*background: linear-gradient(297deg, rgba(153, 44, 168, 1) 0%, rgba(83, 49, 49, 1) 12%, rgba(255, 0, 41, 1) 55%);*/
    background: linear-gradient(297deg, #311D3F, #e23e57db, #88304E, #522546);
    background-repeat: no-repeat;
    background-size: contain;
    scroll-behavior: smooth;
    margin: 0 auto;
}

nav {
    display: flex;
    height: 80px;
    background-color: rgba(83, 49, 49, 1);
    justify-content: center;
    align-items: center;
}

.msg {
    color: white;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 200px;
}

.ulNav {
    list-style: none;
    display: flex;
}

.ulNav a {
    /*align-self: center; */
    margin: 0 30px;
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.7s ease-in-out all;
}

.fa-beer-mug-empty:hover {
    color: gold
}

.ulNav a:hover {
    color: crimson;
}

.ulNav li i {
    font-size: 1.7em;
    color: white;
}


/*login form styles */

#modalForm {
    position: fixed;
    top: 15%;
    height: 50%;
    width: 50%;
    margin-left: 20%;
    background-color: #311D3F;
    padding: 5%;
    border-radius: 10px;
    z-index: 999;
    box-shadow: 1px 1px 50px white;
}

.h1Title {
    color: white;
    padding: 2%;
    border-radius: 5px;
    background-color: crimson;
    width: 50%;
    margin-left: 23%;
    text-align: center;
}

#modalForm form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

label {
    font-size: 1.5em;
    margin: 1% 0;
    color: white;
}

#modalForm input {
    padding: 1.5%;
    font-size: 1.3em;
    text-align: center;
}

#modalForm input:focus {
    outline: 2px solid red;
    box-shadow: 1px 1px 10px white;
}

.inputBtn {
    width: 26%;
    margin-top: 2%;
}

.btnNewUser {
    margin-top: 3%;
    padding: 1.5%;
    font-size: 1.3em;
    border-radius: 999em;
}